<li id="puppy-{{ puppy.id }}" class="list-group-item">
  <div class="puppy">
    <p class="name">
      {{ puppy.name }}
    </p>
    <p class="breed">
      {{ puppy.breed.name }}
    </p>
    <a href="#" class="text-danger puppy-delete-link" data-id="{{ puppy.id }}">Adopt</a>
  </div>
</li>

