<div class="row">
  <div class="col-xs-12">

    <header class="page-header">
      <h1>Puppies</h1>
    </header>

    <div class="well">
      <ul id="puppies" class="list-group">
        {{#each puppies}}
        <li id="puppy-{{ id }}" class="list-group-item">
          <div class="puppy">
            <p class="name">
              {{ name }}
            </p>
            <p class="breed">
              {{ breed.name }}
            </p>
            <a href="#" class="text-danger puppy-delete-link" data-id="{{ id }}">Adopt</a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>

  </div>
</div>

