<div id="flash" class="alert alert-warning">
  Waiting...
</div>
<div class="loading">
  <div class="text-center">
    <i class="fa fa-spinner fa-pulse fa-3x"></i>
  </div>
</div>

<script>
  setTimeout(function() {
    $('#flash').text('Puppies are running late...');
  }, 1000);  
</script>

